.index-page-class .home .hero{
    position: relative;
    z-index: 1;
}
.index-page-class .home .hero h1{
 color: #e91e63;
}
.index-page-class .home .hero p{
 color: #ffffff;
}
.index-page-class .home .feature h2  {
    font-weight: bold;
}
.index-page-class .home .feature p  {
    font-weight: bold;
}
// .theme-container .sidebar .sidebar-links li:first-child a{
//     color: red;
// }